.graph {
  height: calc(100vh - 125px);
  width: 100vw;
  text-align: center;
  overflow: auto;
}

.graph-row {
  display: inline-block;
  vertical-align: top;
}

.graph-row:last-child {
  border-bottom: 1px solid #999;
}
