.node {
  border: 1px solid #999;

  height: 34px;
  width: 34px;

  margin-right: -1px;
  margin-top: -4px;
}

.node:focus {
  outline: none;
}

.default {
  background: #fff;
}

.start {
  background: green;
}

.end {
  background: red;
}

.wall {
  background: black;
}

.traversed {
  background: blue;
}

.path {
  background: yellowgreen;
}
